.bgImage {
    background-image: url(../public/Vector\ 37\ \(1\).png);
    background-repeat: no-repeat;
    width: 510px;
    height: 302.29px;
    overflow: hidden;
    background-position: bottom left;
}